{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          //	支持的目标浏览器的列表
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "current"
        },
        "modules": false, //设置ES6 模块转译的模块格式 默认是 commonjs
        "debug": true, // 开启debug后，编译结果会得到使用的 targets，plugins，polyfill 等信息
        "useBuiltIns": "usage", //  参数有 “entry”、”usage”、false 三个值。默认值是false，此参数决定了babel打包时如何处理@babel/polyfilll 语句(建议usage)
        /*
        entry: 去掉目标浏览器已支持的polyfilll 模块，将浏览器不支持的都引入对应的polyfilll 模块。

        usage: 打包时会自动根据实际代码的使用情况，结合 targets 引入代码里实际用到部分 polyfilll模块

        false: 不会自动引入 polyfilll 模块，对polyfilll模块屏蔽

        */
        "include": [], // 总是启用哪些 plugins
        "exclude": [], //  强制不启用哪些 plugins，用来防止某些插件被启用
        "corejs": "3" // 声明corejs版本
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
